<p id="notice"><%= notice %></p>

<p>
  <b>Pregunta:</b>
  <%= @faq.pregunta %>
</p>

<p>
  <b>Respuesta:</b>
  <%= @faq.respuesta %>
</p>

<p>
  <b>Satisfactorio:</b>
  <%= @faq.satisfactorio %>
</p>


<%= link_to 'Editar', edit_faq_path(@faq) %> |
<%= link_to 'Volver', faqs_path %>
