<%= form_for(@sabio) do |f| %>
  <% if @sabio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sabio.errors.count, "error") %> prohibited this sabio from being saved:</h2>

      <ul>
      <% @sabio.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
        <%= f.label "Codigo" %><br />
    <%= f.text_field :codemprendedor %>
  </div>
  <div class="field">
      <%= f.label "Nombres" %><br />
    <%= f.text_field :nombres %>
  </div>
  <div class="field">
        <%= f.label "Apellido Paterno" %><br />
    <%= f.text_field :apepaterno %>
  </div>
  <div class="field">
        <%= f.label "Apellido Materno" %><br />
    <%= f.text_field :apematerno %>
  </div>
  <div class="field">
        <%= f.label "Sexo" %><br />
    <%= f.text_field :sexo %>
  </div>
  <div class="field">
        <%= f.label "Tipo de Documento de Identidad" %><br />
    <%= f.text_field :tipodi %>
  </div>
  <div class="field">
        <%= f.label "Número de Documento de Identidad" %><br />
    <%= f.number_field :numerodi %>
  </div>
  <div class="field">
        <%= f.label "Correo Electrónico" %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
        <%= f.label "Celular" %><br />
    <%= f.number_field :celular %>
  </div>
  <div class="field">
        <%= f.label "Dirección" %><br />
    <%= f.text_field :direccion %>
  </div>
  <div class="field">
        <%= f.label "Fecha de Nacimiento" %><br />
    <%= f.date_select :fecnac %>
  </div>
  <div class="field">
        <%= f.label "Contraseña" %><br />
    <%= f.text_field :password %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
