<p id="notice"><%= notice %></p>

<p>
  <b>Codemprendedor:</b>
  <%= @sabio.codemprendedor %>
</p>

<p>
  <b>Nombres:</b>
  <%= @sabio.nombres %>
</p>

<p>
  <b>Apepaterno:</b>
  <%= @sabio.apepaterno %>
</p>

<p>
  <b>Apematerno:</b>
  <%= @sabio.apematerno %>
</p>

<p>
  <b>Sexo:</b>
  <%= @sabio.sexo %>
</p>

<p>
  <b>Tipodi:</b>
  <%= @sabio.tipodi %>
</p>

<p>
  <b>Numerodi:</b>
  <%= @sabio.numerodi %>
</p>

<p>
  <b>Email:</b>
  <%= @sabio.email %>
</p>

<p>
  <b>Celular:</b>
  <%= @sabio.celular %>
</p>

<p>
  <b>Direccion:</b>
  <%= @sabio.direccion %>
</p>

<p>
  <b>Fecnac:</b>
  <%= @sabio.fecnac %>
</p>

<p>
  <b>Password:</b>
  <%= @sabio.password %>
</p>


<%= link_to 'Edit', edit_sabio_path(@sabio) %> |
<%= link_to 'Back', sabios_path %>
