<%= form_for(@categorium) do |f| %>
  <% if @categorium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@categorium.errors.count, "Error") %></h2>

      <ul>
      <% @categorium.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :Descripcion%><br />
    <%= f.text_field :nombrecategoria %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
