<p id="notice"><%= notice %></p>

<p>
  <b>Codsabio:</b>
  <%= @emprendedor.codsabio %>
</p>

<p>
  <b>Nombres:</b>
  <%= @emprendedor.nombres %>
</p>

<p>
  <b>Apepaterno:</b>
  <%= @emprendedor.apepaterno %>
</p>

<p>
  <b>Apematerno:</b>
  <%= @emprendedor.apematerno %>
</p>

<p>
  <b>Sexo:</b>
  <%= @emprendedor.sexo %>
</p>

<p>
  <b>Tipodi:</b>
  <%= @emprendedor.tipodi %>
</p>

<p>
  <b>Numerodi:</b>
  <%= @emprendedor.numerodi %>
</p>

<p>
  <b>Email:</b>
  <%= @emprendedor.email %>
</p>

<p>
  <b>Celular:</b>
  <%= @emprendedor.celular %>
</p>

<p>
  <b>Direccion:</b>
  <%= @emprendedor.direccion %>
</p>

<p>
  <b>Fecnac:</b>
  <%= @emprendedor.fecnac %>
</p>

<p>
  <b>Password:</b>
  <%= @emprendedor.password %>
</p>

<p>
  <b>Apelativo:</b>
  <%= @emprendedor.apelativo %>
</p>

<p>
  <b>Autobigrafia:</b>
  <%= @emprendedor.autobigrafia %>
</p>

<p>
  <b>Web:</b>
  <%= @emprendedor.web %>
</p>

<p>
  <b>Ctabancaria:</b>
  <%= @emprendedor.ctabancaria %>
</p>


<%= link_to 'Edit', edit_emprendedor_path(@emprendedor) %> |
<%= link_to 'Back', emprendedors_path %>
