<p id="notice"><%= notice %></p>

<p>
  <b>Cod. Plan:</b>
  <%= @plannegocio.codplan %>
</p>

<p>
  <b>Titulo del Plan:</b>
  <%= @plannegocio.tituloplan %>
</p>

<p>
  <b>Categoria:</b>
  <%= @plannegocio.codcategoria %>
</p>

<p>
  <b>Subcategoria:</b>
  <%= @plannegocio.codsubcategoria %>
</p>

<p>
  <b>Vision:</b>
  <%= @plannegocio.vision %>
</p>

<p>
  <b>Razonamiento:</b>
  <%= @plannegocio.razonamiento %>
</p>

<p>
  <b>Tiempo Ejecucion Ano:</b>
  <%= @plannegocio.tiempoejecucionano %>
</p>

<p>
  <b>Tiempo de Ejecucion Mes:</b>
  <%= @plannegocio.tiempoejecucionmes %>
</p>

<p>
  <b>Tiempo de Ejecucion Dia:</b>
  <%= @plannegocio.tiempoejecuciondia %>
</p>

<p>
  <b>Inversiontotal:</b>
  <%= @plannegocio.inversiontotal %>
</p>

<p>
  <b>Margen Neto:</b>
  <%= @plannegocio.margenneto %>
</p>

<p>
  <b>ROI:</b>
  <%= @plannegocio.roi %>
</p>

<p>
  <b>Link del Documento:</b>
  <%= @plannegocio.linkdocumento %>
</p>

<p>
  <b>Precio de Venta:</b>
  <%= @plannegocio.precioventa %>
</p>

<p>
  <b>Validar Plan:</b>
  <%= @plannegocio.validadoplan %>
</p>

<p>
  <b>Mensaje de Rechazo:</b>
  <%= @plannegocio.mensajerechazo %>
</p>

<p>
  <b>Sabio:</b>
  <%= @plannegocio.codsabio %>
</p>

<p>
  <b>Emprendedor:</b>
  <%= @plannegocio.codemprendedor %>
</p>


<%= link_to 'Editar', edit_plannegocio_path(@plannegocio) %> |
<%= link_to 'Retroceder', plannegocios_path %>
